/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}


/*==== BASE STYLES === */

html {
  font-size: 1.125em; /* 18px/16*/
  line-height: 1.222em; /* 22px/18*/
  background-color: beige;
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
  font-weight : 280;
  
}

#page {
  padding: 1.25em 1.25em; /* 22.5px @ 18px em */
}

#main{
  width: 1000px;
  height : 600px;
  background: red;
  margin: 25px auto;
  border : solid 2px #ff3819;
}



.mianheader {
  width: 100%;
  height: auto;
  margin: 2% 0;
  margin: 2% 0 2% 3%;
  
}

.mainheader nav{
  background-color: #666;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5pxs;
   margin: 3% 0 2% 3%;
   
}

.mainheader nav ul li{
  float: left;
  display: inline:
}

.mainheader nav a:link, .mainheader nav a:visited {
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}
.mainheader nav a:hover, . mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:actived {
  background-color: #CF5C3F;
  text-shadow: none;
}
a {
  text-decoration: none;
}

 p {
  padding-top: 0.625em;
  padding-bottom: 1.25em; /* 22.5px : html line-height */
}


h1 {
  font-size: 1.556em; /* 36px */
  line-height: 1.286em; /* 36px@ 28px */
  color: purple;
  text-align: center;
}

 h2{
  font-size: 1.556em; /* 36px */
  line-height: 1.286em; /* 36px@ 28px */
  color: purple
  
 }


img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1.25em;
  margin: 0 auto;
  
  
}

audio{
    display: block;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1.25em;
  margin: 0 auto;
  height: auto;
}


#links {
  color: white;
}

.links-list {
  list-style: square inside;
}

.mainFooter{
    background-color: #666;
  padding-bottom: 0.75em; /* 22.5px @ 35.159px em */
  width:100%;
   padding: 0.25rem;
  background: rgba(0, 0, 0, 0.5);
}

/* ===== LAYOUT STYLES ===== */

nav {
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.nav li {
  float: left;
  width: 20%;
  list-style-type: none;
  padding-bottom: 0;
}

nav {
  font-weight: 200;
}

.nav {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
}

.nav a {
  display: block;
  text-align: center;
  line-height: .5em;
  padding: 0.556em 0.278em; /* ~ 10px 5px @ 18px/em */
  background-color: #382243 ;
  border-bottom: 0;
}

section ul {
  border-top: thin solid black;
  text-align: centre;
}

li:last-child {
  padding-bottom: 0;
}


@media only screen and (min-width: 150px) and (max-width: 600px)
{
  .body{
    width: 90%;
    forn-size: 95%;
  }
  
  .mianheader img{
  width: 100%;

   
  }
  .mainheader nav{

  height: 160px;
 
}
.mainheader nav ul{
  padding-left: 0;
}

.mainheader nav ul li{
 width : 100%;
 margin 0 auto;
 text-align: center;
}

.mainheader nav a:link, .mainheader nav a:visited {
  padding: 10px 25px;
  height: 20px;
  display: block;
}

 .nav a:hover {
  background-color: red;
}


