/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}


/*==== BASE STYLES === */

html {
  font-size: 1.125em;
  /* 18px/16*/
  line-height: 1.222em;
  /* 22px/18*/
  background-color: beige;
  color: #222;
}

header {
  background-color: #8CCAD5;
  margin-bottom: 1.5em;
  text-align: center;
  text-top:0;
}

h1, h2{
  font-size: 1.556em;
  /* 36px */
  line-height: 1.286em;
  /* 36px@ 28px */
  color: purple;
}

nav {
  position: absolute;
  top: 0;
   

}
nav li {
 display: inline-block;
  list-style-type: none;
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 1.822em;
  padding-bottom: 1.8222em;

}

nav li a{
  display: block;
  background-color: #222;
  color: #EFE5BE;

}



main {
  margin: auto 1em auto 1em;
}



section ul {
  border-top: thin solid black;
  text-align: centre;
}



#page {
  padding: 1.222em;
}



#page {
  padding-left: 2.3913%;
  /*11px margin /460px viewport  = 0.0239130435%*/
  padding-right: 2.3913%;
}

 #header {
  padding-top: 3.667em;  /*66px /18px + gridline*/

}

img {
  width: 100%;
  height: auto;
}

audio {
  width: 100%;
  height: 100%;
}


footer {
  color: blue;
}

li:last-child {
  padding-bottom: 0;
}


/*==== LAYOUT STYLES === */

@media screen and (min-width: 61.875em) {
  #page {
    margin: 0;
  }
}

img, audio {
  border: 0.444em solid blue;
}